/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/04/2024, 15:37:21
    Author     : Senai
*/



main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    height: 82vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 20px;
    width: 60%;
    align-items: center;
    height: 400px;
}

#exampleInputEmail1, #exampleInputPassword1{
    width: 100%;
}

.cadastro{
    background-color: #f3f3f3;
}